                /*for phone*/
@media screen and (width<=450px) {
  body{
    
    max-width: 200ch !important;
   
    
     height: 440ch ;
   
    
  
     
     
   
  }  
  
  .links {
        
        width: 200px;
         float: left;
         display: flex;
         flex-direction: column;
         flex-wrap: nowrap;
         color: red;
        }
   .links>a{
    display: none;
   }    
   .menu{
    scale: 1.5;
   
    display: block;
   }
   .drop-box{
    opacity: 0;
    display: none;
   }
   .logo{
    margin-top: -5vmin;
   }
   .home-photo>img{
    margin-left: -10vh;
    margin-top: 25vh;
    height: 26vh;
    width: 26vh;
    scale: 2;
    
   }
   .line>p{
    margin-left: -14vh;
    scale: 3;
    font-size: 6vh;
   }
   .contnd{
    margin-top: 68vh;
   }
   .contnd>p{
    margin-left: -12vh;
    font-size: 6vh;
   }
   
   .side-img>img{
    margin-top: -1vh;
    
    height: 20vmax;
    width: 20vmax;
    margin-left: -35vh;
    border-radius: 10%;
   }
   .side-img>p{
    width: 20vh;
    margin-left: -6vh;
    margin-top: 10vh;
    font-size: 2vh;
    
   }
   .explore-button{
    height: 3vh;
    width: 20vh;

      margin: 20vh -5vh;
      font-size: 2vh;
   }
   
   .left-photo>p{
      margin-left: -12vh;
      font-size: 4vh;
      
   }
   .second-photo{
    width: 70%;
    height: 5%;
    position: relative;
    margin-left: 2vh;
   
    
   
   }
   .second-photo>p{
    font-size: 2vh;
    color: black;
    margin: -30vh 6vh;
    width: 70%;
    height: 5%;
   }
   .brands{
    margin-top: 15vh;
    margin-left: 1vh;
    height: 50vh;
    width: 60vh;
    display: flex;
    flex-direction: row;
   }
   .brands>.br{
    height: 20vh;
    width: 20vh;
   }
   .br>img{
    margin: 2vh 2vh;
    scale: 1.3;
   }
   .para{
    width: 44vh;
    margin-left: -7vh;
    margin-top: 10vh;
   }
   .new-box1{
    opacity: 0 !important;
   }
   .new-box2{
    opacity: 0 !important;
   }
   .new-box3{
    opacity: 0 !important;
   }
   .new-box4{
    opacity: 0 !important;
   }
   .new-box5{
    opacity: 0 !important;
   }
   .new-box6{
    opacity: 0 !important;
   }

   .footer img{
    margin-left: -40vh;
    height: 3vh;
    width: 3vh;

   }
   .footer>.link{
    margin-left: 6vh;
    margin-top: 5vh;
    font-size: 2vh;

   }
   #line1{
    margin-left: 14%;
    margin-top: 3vh;
   }
   #line2{
    margin-left: 3%;
    margin-top: 11vh;
   }
   .footer>p{
    margin-left: 2vh;
   }
  }
  @media screen and (width>500) {
    .drop-box{
        opacity: 0;
        display: none;
    }
  }
