                /*for phone*/
@media screen and (width<=450px) {
  body{
    background-color: green;
     width: 160vh !important;
     overflow-y: scroll;
     height: 620vh !important;
   
  }  
  
  .links {
        
        width: 200px;
         float: left;
         display: flex;
         flex-direction: column;
         flex-wrap: nowrap;
         color: red;
        }
   .links>a{
    display: none;
   }    
   .menu{
    scale: 2;
    
    display: block;
   }
   .drop-box{
    opacity: 0;
    display: none;
   }
   .logo{
    margin-top: -5vmin;
   }
   .home-photo>img{
    margin-left: 6vh;
    margin-top: 28vh;
    height: 36vh;
    width: 36vh;
    
   }
   .line>p{
    margin-left: 20vh;
    scale: 2;
    font-size: 18vh;
   }
   .contnd{
    margin-top: 97.7vh;
   }
   .contnd>p{
    margin-left: 6vh;
   }
   
   .side-img>img{
    margin-top: -1vh;
    
    height: 50vmax;
    width: 40vmax;
    margin-left: -26vh;
    border-radius: 10%;
   }
   .side-img>p{
    margin-top: 16vh;
    font-size: 3vh;
   }
   .explore-button{
    height: 6vh;
    width: 25vh;

      margin: 40vh 27vh;
      font-size: 3vh;
   }
   
   .left-photo>p{
      margin-left: 5vh;
      font-size: 6vh;
   }
   .second-photo{
    width: 65vh;
    position: relative;
    margin-left: 1vh;
    background-color: green;
    
   
   }
   .second-photo>p{
    font-size: 4vh;
    color: black;
    margin: -46vh 0vh;
    width: 70vh;
    height: 10vh;
   }
   .brands{
    margin-top: 15vh;
    margin-left: 6vh;
    height: 80vh;
    width: 100vh;
   }
   .brands>.br{
    height: 30vh;
    width: 30vh;
   }
   .br>img{
    margin: 2vh 2vh;
    scale: 1.2;
   }
   .para{
    margin-top: 10vh;
   }
   .new-box1{
    opacity: 0 !important;
   }
   .new-box2{
    opacity: 0 !important;
   }
   .new-box3{
    opacity: 0 !important;
   }
   .new-box4{
    opacity: 0 !important;
   }
   .new-box5{
    opacity: 0 !important;
   }
   .new-box6{
    opacity: 0 !important;
   }
   .footer img{
    height: 5vh;
    width: 5vh;

   }
   .footer>.link{
    margin-top: 5vh;
    font-size: 2vh;

   }
   #line1{
    margin-top: 3vh;
   }
   #line2{
    margin-left: 2.5vh;
    margin-top: 13vh;
   }
   .footer>p{
    margin-left: 2vh;
   }
  }
  @media screen and (width>500) {
    .drop-box{
        opacity: 0;
        display: none;
    }
  }
